# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ----------------------------------------
# database
# ----------------------------------------
database/dump/

# ----------------------------------------
# design
# ----------------------------------------
design/~$*

# ----------------------------------------
# next
# ----------------------------------------
# dependencies
next/node_modules
next/.pnp
next/.pnp.js

# testing
next/coverage

# next.js
next/.next/
next/out/

# production
next/build

# misc
next/.DS_Store
next/.pem
next/.env.*

# debug
next/npm-debug.log*
next/yarn-debug.log*
next/yarn-error.log*

# vercel
next/.vercel

# log
next/pendemic-backend.log

# ----------------------------------------
# nginx
# ----------------------------------------

# ----------------------------------------
# others
# ----------------------------------------
data
