.footer {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
  color: var(--white-semi);
  width: 100%;
  padding: 16rem 0rem;
  border-top: 1px solid var(--grey);
}
