.main {
  align-self: center;
  width: 100%;
  height: 3.5rem;
  max-width: 64rem;
  background: var(--white);
  padding: 0rem 1.5rem;

  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  grid-template-areas: "nav1 logo nav2 options";
  column-gap: 0rem;
  align-items: center;
  justify-items: center;
}

.nav_1 {
  grid-area: nav1;
}

.nav_2 {
  grid-area: nav2;
}

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem 0rem;

  & > p {
    display: none;
  }

  & > * + * {
    margin: 0 0 0 0.5rem;
  }
}

.logo_title:hover {
  span:nth-child(1) {
    color: var(--ember-dark);
  }
  span:nth-child(2) {
    color: var(--lavender-dark);
  }
}

.nav_option {
  cursor: pointer;
  text-align: center;
  border-radius: 0.5rem;
}

.nav_option--lavender {
  .nav_option__text {
    padding: 0.5rem;
    transition: none;
  }
  &:hover .nav_option__text {
    background: linear-gradient(
      to right,
      var(--lavender-dark),
      var(--lavender-light)
    );
    background-clip: text;
    color: transparent;
  }
}

.nav_option--ember {
  .nav_option__text {
    padding: 0.5rem;
    transition: none;
  }
  &:hover .nav_option__text {
    background: linear-gradient(
      to right,
      var(--ember-dark),
      var(--ember-light)
    );
    background-clip: text;
    color: transparent;
  }
}

.nav_options {
  grid-area: options;

  &_arrow {
    padding: 0.75rem 1rem;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      inset: 0.5rem;
      border-top: 0.5rem solid var(--black);
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
    }
  }

  &_menu {
    position: absolute;
    margin-top: 0.5rem;
    right: 0;
    display: grid;
    row-gap: 0.25rem;
    min-width: 10rem;
    max-width: 10rem;
    max-height: max-content;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    background: var(--white);
    box-shadow: 0 0.25rem 0.5rem var(--shadow);
    display: none;

    li {
      padding: 0.25rem 0.75rem;
      cursor: pointer;
    }
    li:hover {
      background: linear-gradient(to right, var(--grey-light), transparent);
    }
  }

  &_menu_visible {
    display: grid;
  }
}

@media only screen and (min-width: 30rem) {
  .main {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-template-areas: "logo nav1 nav2 options";
    column-gap: 3rem;
    justify-items: flex-start;
  }

  .logo {
    & > p {
      display: inline;
    }
  }
}
