.main {
  height: 48px;
  background: var(--white);
  padding: 0px 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 4px 0px;

  & > p {
    display: none;
  }

  & > * + * {
    margin: 0 0 0 8px;
  }
}

.logo_title:hover {
  span:nth-child(1) {
    color: var(--ember-dark);
  }
  span:nth-child(2) {
    color: var(--lavender-dark);
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  align-items: center;
}

.nav_option {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}

.nav_option--lavender {
  .nav_option__text {
    transition: none;
  }
  &:hover .nav_option__text {
    background: linear-gradient(
      to right,
      var(--lavender-dark),
      var(--lavender-light)
    );
    background-clip: text;
    color: transparent;
  }
}

.nav_option--ember {
  .nav_option__text {
    transition: none;
  }
  &:hover .nav_option__text {
    background: linear-gradient(
      to right,
      var(--ember-dark),
      var(--ember-light)
    );
    background-clip: text;
    color: transparent;
  }
}

@media only screen and (min-width: 380px) {
  .nav {
    column-gap: 24px;
  }

  .logo {
    & > p {
      display: inline;
    }
  }
}
